.product-page{
  min-height: 100vh;
}

.btn-detail {
  background-color: #2d1774;
  color: white;
}
.card {
  box-shadow: 0px 0px 3px 1px #2d108e;
}
.list {
  border-left: 2px solid #c5cbf4;
  padding-bottom: 20px;
}
.filter{
    padding: 0px 25px;
}
