.footer{
    text-align: center;
    background-color: #111;
    color: #9fa1a2;
    margin-top: 50px ;
}


.social a{
    padding: 15px 2px;
    font-size: 2.1rem;
    text-decoration: none;
    color: #9fa1a2;
}

.social p{
    margin-top: 10px;
}

.terms li{
    list-style: none;
}

.terms a{
    text-decoration: none;
    color: #9fa1a2;
    margin-right: 10px;
}

.terms p{
    margin: 10px 0 0 0;
    padding-bottom: 20px;
}

.footer :hover{
    color: white;
}