.login {
  padding: 30px 20px;
  margin: 20px;
  background-color: #11004b;
  height: 75vh;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  background-color: #3933e3;
  outline: none;
  color: white;
}

.login-form {
  width: 400px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
}
