.navbar {
  padding: 0;
  width: 100%;
  height: 85px;
  font-size: 1.2rem;
  background-color: #090125;
  color: white;
  box-shadow: 1px 1px 5px #11004b;
  border-end-end-radius: 5px;
}

.link{
    margin:auto;
}
.link li{
    padding:0 9%;
}


.collapse {
  z-index: 1;
  background-color: #090125;
  /* height: 70px; */
}
.navbar-brand {
  font-size: 2.2rem;
}

.nav-link,
.nav-item {
  color: #ffffff;
}

.name {
  background-color: #11004b;
}
.search {
  width: 400px;
}
